body {
    background-image: url(../images/rainbow-equalizer.jpg);
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    transform: translateY(2vh);
}
div {
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.25s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: #4CAF50; 
    border: 2px solid #4CAF50;
    transform: translateX(-15vw) translateY(5vh);;
}
.button2 {
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
    transform: translateX(15vw) translateY(5vh);
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
}